header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.header-logo {
  width: 120px;
  height: 100%;
}

.header-logo > img {
  width: 100%;
  height: 100%;
}

.header-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header-menu > li {
  margin-right: 30px;
}

.main {
  width: 100%;
}

.main-img {
  width: 100%;
}

